// ## Colors
$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);

// ## Typography
// ### Headings
// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 400, 600
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
// font-family: 'Poppins', sans-serif;

// ### Body
// - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
// - Weights: 400
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
// font-family: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: url("/style/images/bg-desktop.svg");
  background-color: $Violet;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: auto;
}

header {
  img {
    height: 2.5rem;
    margin: 3.5rem 5rem 1rem 5rem;
  }
}

main {
  display: flex;
  margin: 5%;
}
.text {
  margin-left: 4rem;
  width: 29rem;
}
h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.text p,
button {
  font-size: 1rem;
}

.text p {
  line-height: 1.5rem;
}
button {
  height: 3.625rem;
  width: 12.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
  color: $Violet;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  &:hover {
    background: $SoftMagenta;
    color: white;
  }
}
button,
.social {
  cursor: pointer;
}
//Elements FrontEnd Mentor<!-- Feel free to remove these styles or customise in your own stylesheet  -->
.attribution {
  font-size: 11px;
  text-align: center;
  width: 80%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
// Fin Element FrontEnt Mentor

footer {
  position: bottom;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  padding-bottom: 2rem;
}

.container-social {
  display: flex;
  justify-content: space-between;
  width: 8rem;
}
.social {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: solid 1px white;
  i {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-right: 0.2rem;
    top: 7px;
    text-align: center;
  }
  &:hover {
    color: $SoftMagenta;
    border-color: $SoftMagenta;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background: url("/style/images/bg-mobile.svg") $Violet;
    background-repeat: no-repeat;
  }
  header {
    img {
      margin: 2rem;
      height: 2rem;
    }
  }
  main {
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
    img {
      width: 100%;
    }
    .text {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      P,
      h1 {
        text-align: center;
      }
      h1 {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      button {
        height: 2rem;
        font-size: 0.6rem;
        // margin-left: 18%;
      }
    }
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    > .attribution {
      order: 2;
      margin-top: 1rem;
    }
  }
}
